{% extends 'home.html' %}

{% block content %}
<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" action="{{url_for('store_v1.checkout')}}" method="POST"
                enctype="multipart/form-data">
                <fieldset>

                    <!-- Form Name -->
                    <legend>PRODUCTS</legend>

                    {{ form.csrf_token }}

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="product_name">First Name</label>
                        <div class="col-md-4">
                            {{ form.first_name(class="form-control", readonly="readonly", value=user.first_name) }}
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="product_name">Last Name</label>
                        <div class="col-md-4">
                            {{ form.last_name(class="form-control", readonly="readonly", value=user.last_name) }}
                        </div>
                    </div>


                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="available_quantity">Phone Number</label>
                        <div class="col-md-4">
                            {{ form.phone_number(class="form-control", readonly="readonly", value=user.phone_number) }}
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="available_quantity">Email</label>
                        <div class="col-md-4">
                            {{ form.email(class="form-control", readonly="readonly", value=user.email) }}
                        </div>
                    </div>


                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="product_description">Address</label>
                        <div class="col-md-4">
                            {{ form.address(class="form-control")}}
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="product_description">City</label>
                        <div class="col-md-4">
                            {{ form.city(class="form-control")}}
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="product_description">State</label>
                        <div class="col-md-4">
                            {{ form.state(class="form-control")}}
                        </div>
                    </div>


                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="product_description">Country</label>
                        <div class="col-md-4">
                            {{ form.country(class="form-control")}}
                        </div>
                    </div>


                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="product_description">Payment Type</label>
                        <div class="col-md-4">
                            {{ form.payment_type(class="form-control")}}
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <div class="col-md-4">
                            {{ form.user_id(class="form-control", readonly="readonly", value=user.id)}}
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <button type="submit" id="singlebutton" name="singlebutton"
                                class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="col-lg-4">
            <ul class="list-group shadow-sm p-3 mb-5 bg-white rounded">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ quantity_total }} items
                    <span>&dollar;{{ grand_total / 100 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    24hr Shipping
                    <span>&dollar;10</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total
                    <span>&dollar;{{ grand_total_plus_shipping / 100 }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}