{% extends 'admin_dashboard_base.html' %}

{% block content %}

<main class="page-content">
    <div class="container-fluid">
        <div class="col-lg-4">
            <ul class="list-group shadow-sm p-3 mb-5 bg-white rounded">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Pending Orders
                    <span>{{ orders|length }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Products In Stock
                    <span>{{ products_in_stock }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Products Out of Stock
                    <span>{{ products|length - products_in_stock }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Products
                    <span>{{ products|length }}</span>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-lg-6">
                <legend>Orders</legend>
                <table class="table table-hover mt-5 h-50 shadow-sm p-3 mb-5 bg-white rounded">
                    <thead>
                        <tr>
                            <th scope="col">REF</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.reference }}</td>
                            <td>{{ order.first_name + ' ' + order.last_name }}</td>
                            <td>{{ order.email|truncate(10) }}</td>
                            <td>&dollar;{{ order.order_total() / 100 }}</td>
                            {% if order.status == 'Pending' %}
                            <td><a href="#" class=" bg-warning text-light p-1 rounded" data-toggle="modal"
                                    data-target="#updateOrderStatusModal"
                                    style="cursor: pointer; text-decoration: none;">{{ order.status }}</a></td>
                            {% elif order.status == 'Complete' %}
                            <td><a href="#" class=" bg-success text-light p-1 rounded" data-toggle="modal"
                                    data-target="#updateOrderStatusModal"
                                    style="cursor: pointer; text-decoration: none;">{{ order.status }}</a></td>
                            {% elif order.status == 'Declined' %}
                            <td><a href="#" class=" bg-danger text-light p-1 rounded" data-toggle="modal"
                                    data-target="#updateOrderStatusModal"
                                    style="cursor: pointer; text-decoration: none;">{{ order.status }}</a></td>
                            {% elif order.status == 'Returned' %}
                            <td><a href="#" class=" bg-info text-light p-1 rounded" data-toggle="modal"
                                    data-target="#updateOrderStatusModal"
                                    style="cursor: pointer; text-decoration: none;">{{ order.status }}</a></td>
                            {% elif order.status == 'Cancelled' %}
                            <td><a href="#" class=" bg-danger text-light p-1 rounded" data-toggle="modal"
                                    data-target="#updateOrderStatusModal"
                                    style="cursor: pointer; text-decoration: none;">{{ order.status }}</a></td>
                            {% elif order.status == 'On Hold' %}
                            <td><a href="#" class=" bg-warning text-light p-1 rounded" data-toggle="modal"
                                    data-target="#updateOrderStatusModal"
                                    style="cursor: pointer; text-decoration: none;">{{ order.status }}</a></td>
                            {% elif order.status == 'Shipped' %}
                            <td><a href="#" class="text-light p-1 rounded" data-toggle="modal"
                                    data-target="#updateOrderStatusModal"
                                    style="cursor: pointer; text-decoration: none; background-color:#5D3FD3">{{
                                    order.status }}</a></td>
                            {% elif order.status == 'In Transit' %}
                            <td><a href="#" class=" bg-info text-light p-1 rounded" data-toggle="modal"
                                    data-target="#updateOrderStatusModal"
                                    style="cursor: pointer; text-decoration: none;">{{ order.status }}</a></td>
                            {% elif order.status == 'Expired' %}
                            <td><a href="#" class=" bg-danger text-light p-1 rounded" data-toggle="modal"
                                    data-target="#updateOrderStatusModal"
                                    style="cursor: pointer; text-decoration: none;">{{ order.status }}</a></td>
                            {% elif order.status == 'Fraud' %}
                            <td><a href="#" class=" bg-danger text-light p-1 rounded" data-toggle="modal"
                                    data-target="#updateOrderStatusModal"
                                    style="cursor: pointer; text-decoration: none;">{{ order.status }}</a></td>
                            {% endif %}
                            <td><a href={{ url_for('store_v1.view_order', order_id=order.id)}} class="btn text-info btn-xs"
                                    style="margin-top:-10px !important;"><i class="fa fa-edit"></i></a></td>
                            <!-- Update Modal -->
                            <div class="modal fade" id="updateOrderStatusModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal"
                                                action="{{url_for('store_v1.update_status', id=order.id)}}"
                                                method="POST" enctype="multipart/form-data">


                                                <legend>Order</legend>

                                                {{ update_status_form.csrf_token }}


                                                <div class="form-group">
                                                    <label for="order_status">ORDER
                                                        STATUS</label>
                                                    <div>
                                                        {{ update_status_form.status(class="form-control",
                                                        value=order.status) }}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="singlebutton"></label>
                                                    <div>
                                                        <button id="singlebutton" name="singlebutton"
                                                            class="btn btn-info text-light">Update</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <legend>Products</legend>
                <table class="table table-hover mt-5 h-50 shadow-sm p-3 mb-5 bg-white rounded">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price/100 }} $</td>
                            <td>{{ product.stock }} units</td>
                            <td><a href={{ url_for( 'store_v1.get_product' ,id=product.id) }}
                                    class="btn text-info btn-xs" style="margin-top:-10px !important;"><i
                                        class="fa fa-edit"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}