<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/layout.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('.static', filename='css/profile.css')}}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top text-light" style="background-color: #000;">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="{{url_for('store_v1.index')}}">Onlice Store</a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page"
                            href="{{url_for('store_v1.index')}}">Home</a>
                    </li>
                </ul>
                <form class="form-inline mr-2">
                    {% if g.search_form %}
                    <form class="navbar-form navbar-left" method="get" action="{{ url_for('store_v1.search') }}">
                        <div class="form-group rounded">
                            {{ g.search_form.q(class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                        </div>
                    </form>
                    {% endif %}
                </form>
                <form class="form-inline my-2 my-lg-0">
                    <a href="{{ url_for('store_v1.cart')}}" style="color: orange !important; text-decoration: none;"><i
                            class="fa fa-shopping-cart" aria-hidden="true"></i> View cart</a>
                </form>
                <form class="form-inline my-2 my-lg-0 ml-4">
                    {% if user %}
                    <!-- Example single danger button -->
                    <a class="text-warning" href="{{ url_for('store_v1.logout')}}">Logout</a>
                    {% else %}
                    <a href="{{ url_for('store_v1.signup')}}"
                        style="color: orange !important; text-decoration: none;"><i class="fa fa-user"
                            aria-hidden="true"></i> Sign Up/Login</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 40px;">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">St<span class="text-warning">or</span>e</h1>
                {% if user %}
                <div class="list-group">
                    <a class="list-group-item text-warning" href="{{ url_for('store_v1.order_items')}}">My Orders</a>
                    <a class="list-group-item text-warning"
                        href="{{ url_for('store_v1.update_profile', email=user.email)}}">My Account</a>
                </div>
                <hr />
                {% endif %}
                <div class="list-group">
                    <a class="list-group-item text-dark" href="#!">Wear</a>
                    <a class="list-group-item text-dark" href="#!">Electronics</a>
                    <a class="list-group-item text-dark" href="#!">Food</a>
                    <a class="list-group-item text-dark" href="#!">Drinks</a>
                    <a class="list-group-item text-dark" href="#!">Grocery</a>
                    <a class="list-group-item text-dark" href="#!">Furniture</a>
                </div>

            </div>
            {% block content %}

            {% endblock %}

        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4" style="background-color: #000;">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1 text-light">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mb-4 text-light">GROCERY SHOP</h5>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident
                        voluptate
                        esse
                        quasi, veritatis totam voluptas nostrum.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mb-4 text-light">About</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <a class="text-light" href="#!">GROCERIES</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="text-light" href="#!">ABOUT US</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="text-light" href="#!">SHIPPING</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="text-light" href="#!">PRICING</a>
                            </p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4 text-light">Address</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p class="text-light">
                                <i class="fas fa-home mr-3"></i> Juja, Kiambu, Kenya
                            </p>
                        </li>
                        <li>
                            <p class="text-light">
                                <i class="fas fa-envelope mr-3"></i> arrotechdesign@gmail.com
                            </p>
                        </li>
                        <li>
                            <p class="text-light">
                                <i class="fas fa-phone mr-3"></i> + 254 711 371 265
                            </p>
                        </li>
                        <li>
                            <p class="text-light">
                                <i class="fas fa-print mr-3"></i> + 254 797 568 564
                            </p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                    <!-- Social buttons -->
                    <h5 class="font-weight-bold text-uppercase mb-4 text-light">Follow Us</h5>

                    <!-- Facebook -->
                    <a type="button" class="btn-floating btn-fb">
                        <i class="fab fa-facebook-f text-light"></i>
                    </a>
                    <!-- Twitter -->
                    <a type="button" class="btn-floating btn-tw">
                        <i class="fab fa-twitter text-light"></i>
                    </a>
                    <!-- Google +-->
                    <a type="button" class="btn-floating btn-gplus">
                        <i class="fab fa-google-plus-g text-light"></i>
                    </a>
                    <!-- Dribbble -->
                    <a type="button" class="btn-floating btn-dribbble">
                        <i class="fab fa-dribbble text-light"></i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
            <a class="text-light" href="https://gracious-darwin-dd4923.netlify.app/"> Arrotech.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>

</html>