{% extends 'home.html' %}

{% block content %}

<div class="row justify-content-center align-items-center h-100" style="margin: 7% auto;">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 shadow-lg p-3 mb-5 bg-white rounded">
        {% if success_message %}
        <div class="alert alert-success" role="alert">
            {{success_message}} Proceed to <a href="{{redirect_url}}">Login</a>
        </div>
        {% endif %}
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{error_message}}
        </div>
        {% endif %}
        <form class="form-horizontal" action="{{url_for('store_v1.reset_password_with_token', token=token)}}" method="POST"
            enctype="multipart/form-data">
            <fieldset>

                <!-- Form Name -->
                <legend style="text-align: center;">Reset Password</legend>

                {{ form.csrf_token }}

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-6 control-label" for="password">Password</label>
                    <div class="col-md-12">
                        {{ form.password(class="form-control", type="password")}}
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-6 control-label" for="password">Confirm Password</label>
                    <div class="col-md-12">
                        {{ form.confirm_password(class="form-control", type="password")}}

                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-6 control-label" for="singlebutton"></label>
                    <div class="col-md-12">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Reset</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
{% endblock %}